/* geral */
body  {
	margin: 0; 
}
h2 {
  font-size: 30px;
}

/* navbar */
#navbar {
  background-color:  #fffafa;
  color: black;
  padding: 0 15px;
  height: 60px;
  border-bottom: solid 1px;
}

#navbar h2, #navbar ul, #navbar-list li {
  display: inline-block;
}

#navbar h2 {
  margin: 0;
  line-height: 60px;
  margin-left: 55px;
}

#navbar img {
  height: 40px; 
  position: absolute;
  top: 10px;
}

#navbar ul {
  float: right;
}

#navbar li {
  margin: 0 10px;
}

#navbar-list li a {
  text-decoration: none;
  color: black;
}

/* sobre */ 

h1 {
  font-family: Montserrat;
}

.post-container {
  width: 70%;
  height: 100%;
  margin: 0 auto -10px auto;
  background-color: #fffafa;
  border-left: solid 1px;
  border-right: solid 1px;
}

.post-container .date {
  font-family: 'Roboto',sans-serif;
  color: #008080;
}

.post-container div.post-content {
  width: 90%;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}

.post-container .post {
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
}

/* tirar o link sublinhado */
a:link {
  text-decoration: none;
  color: black;
}

/* tirar a cor do link */
a { color: inherit; } 

.rodape {
  border-top: solid 1px black;
  background-color:  #fffafa;
  padding: 15px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
